/*/

Table of Contents

 /* 01 - General settings */
 /* 02 - Container */
 /* 03 - Status & Navigation */
 /* 04 - Map */
 /* 05 - Slider */
 /* 06 - Tab bar */

/*/

/* 01 - General settings */

/* Box sizing */

*,
html {
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}

/* Body properties */

body {
  background: #dadada;
  color: #000000;
  font-family: SFProText-Regular,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 18px;
}

/* 02 - Container */

/* Centered iPhone container */

.container {
  background: url(/../images/map.png);
  margin: 0 auto;
  width: 375px;
}

/* 03 - Status & Navigation */

header {
  position: fixed;
}

/* Status bar */

.status-bar {
  background: #FFFFFF;
  display: block;
  padding: 5px;
  width: 375px;
}

/* Navigation */

nav {
  background: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  height: 40px;
  padding: 10px 10px 20px 10px;
  width: 375px;
}

nav li {
  display: inline;
}

.left-nav-arrow {
  padding-right: 2px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.left-nav {
  color: #007AFF;
  font-family: SFProText-Regular,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  vertical-align: middle;
  width: 100px;
}

.center-nav {
  color: #000000;
  font-family: SFProText-Semibold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  padding: 0px 20px 0px 20px;
  text-align: center;
  vertical-align: middle;
}

/* 04 - Map */

figcaption {
  color: #007AFF;
  font-family: SFProText-Semibold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.bus-j14 {
  padding: 180px 0px 0px 10px;
}

.bus-124 {
  padding: 40px 0px 0px 190px;
}

.bus-station {
  float: right;
  padding: 140px 45px 0px 0px;
}

.bus-station figcaption {
  color: #007AFF;
  font-family: SFProText-Regular,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 11px;
  letter-spacing: 0.07px;
  line-height: 13px;
  text-align: center;
  width: 107px;
}

/* 05 - Slider */

.slider {
  display: block;
}

.slider-handle {
  background: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  border-top: 1px solid #e5e5e5;
  display: block;
  padding: 7px 169px 0px 169px;
  text-align: center;
}

/* Buses at this station */

h2 {
  background: #FFFFFF;
  color: #000000;
  font-family: SFProDisplay-Semibold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 20px;
  letter-spacing: 0.35px;
  padding: 15px;
}

/* Bus line list items */

.bus-line {
  background: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  padding: 10px 15px 10px 15px;
}

.bus-line li {
  display: inline-block;
}

.bus-line-num {
  color: #000000;
  background: #FAFAFF;
  border: 1px solid #C7C7CC;
  border-radius: 5px;
  display: inline-block;
  font-family: SFProDisplay-Bold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 28px;
  height: 40px;
  letter-spacing: 0.34px;
  line-height: 34px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  width: 70px;
}

/* Bus line destination */

.destination {
  padding-left: 10px;
  vertical-align: middle;
  width: 150px;
}

/* Arrival time - right hand side info */

.arrival-time {
  float: right;
}

/* Bus arrival time in minutes */

.arrival-time p {
  color: #007AFF;
  display: block;
  font-family: SFProText-Regular;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 18px;
  text-align: right;
}

/* Bus arrival clock time */

.arrival-time time {
  color: #000000;
  display: block;
  font-family: SFProDisplay-Bold;
  font-size: 22px;
  letter-spacing: 0.35px;
  line-height: 28px;
  text-align: right;
}

/* 06 - Tab bar */

footer {
  background: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  height: 49px;
  position: sticky;
  width: 375px;
}

.tab {
  display: inline-block;
  height: 50px;
  width: 121px;
}

.tab-bar-icon {
  text-align: center;
  padding: 3px 50px 0px 50px;
}

/* Tab bar menu name */

h3 {
  color: #A3A3A3;
  font-family: SFProText-Medium;
  font-size: 10px;
  letter-spacing: 0.16px;
  text-align: center;
  width: 124px;
}

.selected h3 {
  color: #007AFF;
  font-family: SFProText-Medium;
}
